<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-3.2.xsd 
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-3.2.xsd 
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
	">
<bean id="kaiBean" class="yk.bean.KaiBean"></bean>
<bean id="kaiService" class="yk.service.KaiService" p:kaiBean-ref="kaiBean" p:kaiDao-ref="kaiDao"></bean>
<bean id="kaiDao" class="yk.dao.KaiDao" ></bean>

<!-- p标签与下面这种配置效果相同,只是替换了 <property>标签 
<bean id="kaiService" class="yk.service.KaiService">
	<property name="kaiBean" ref="kaiBean">
	</property>
</bean>
-->
<!-- AOP配置 -->
<bean id="common" class="yk.aop.Common"></bean>
<bean id="aop" class="yk.aop.Aop"></bean>

<!-- AOP配置  spring会自动在JDK动态代理和CGLIB之间转换 -->
<!-- 如果AOP采用注解模式，则需要引入下列标签。下列xml方式不需要引入 -->
<!-- <aop:aspectj-autoproxy></aop:aspectj-autoproxy> -->


<aop:config>


<!-- 定义一个切面 -->
<aop:aspect id="myaop" ref="aop">
<!-- expression表达式 第一个*表示返回类型，要加空格，第二个*代表方法名，(..)代表方法的参数 -->
<!-- 定义一个切入点 -->
<aop:pointcut id="target" expression="execution(* yk.aop.Common.*(..))" />
<aop:pointcut id="target1" expression="execution(* yk.aop.Common.endWork(..))" />

<aop:before method="before" pointcut-ref="target"/>
<aop:after-returning method="after_returning" pointcut-ref="target"/>
<aop:after-throwing method="throwing" pointcut-ref="target"/>
<aop:around method="around" pointcut-ref="target"/>
<aop:after method="after" pointcut-ref="target"/>
<!-- 
<aop:before method="before" pointcut-ref="target1"/>

方法正常结束之后
<aop:after-returning method=""/>

方法抛出异常之后
 <aop:after-throwing method=""/>
 
 方法最终执行 after(finally)
 <aop:after method=""/>
 
<aop:after method="after" pointcut-ref="target1"/>
 -->

</aop:aspect>

</aop:config>


    
	
	<!-- 导入spring JDBC配置 -->
	<!-- <import resource="spring-config/spring-springJDBC.xml"/> -->
	
	<!-- 导入spring Mybatis配置 -->
	<import resource="spring-config/spring-mybatis.xml"/>

</beans>
